---
import { getActiveProducts } from "../utils/microcms";
import { setCache } from "../utils/cache";

import BaseLayout from "../layouts/BaseLayout.astro";
import ProductCardByMicrocms from "../components/ProductCardByMicrocms.astro";

const title = "SomeRoom";
const products = await getActiveProducts({ limit: 100 });

setCache.long(Astro);
---

<BaseLayout title={title}>
  <section class="h-full pt-10 pb-12 max-sm:pt-16">
    <h2 class="text-xs">
      All products:
    </h2>
    <div class="grid grid-cols-5 gap-12 mt-3 max-lg:grid-cols-4 max-md:grid-cols-3 max-md:gap-8 max-sm:grid-cols-2 max-sm:gap-4">
      {products.contents.map((product) => <ProductCardByMicrocms product={product} />)}
    </div>
  </section>
</BaseLayout>
