---
export interface Props {
  message?: string;
  class?: string;
}
const { message = "準備中です。", class: className = "" } = Astro.props as Props;
---

<div class={`text-xl py-8 ${className}`}>
  <p>{message}</p>
  <a href="/about" class="underline underline-offset-6 hover:no-underline">
    SomeRoomについて
  </a>
</div>
