---
import type { Products } from "../utils/microcms";
import { priceToMoney } from "../utils/schemas";

import GenericImage from "./GenericImage.svelte";
import Money from "./Money.svelte";

export interface Props {
  product: Products;
  className?: string;
}
const { product, className } = Astro.props as Props;
---

<a
  href={`/products/${product.slug || product.id}`}
  class={`${className}`}
>
  <div class="relative">
    <GenericImage
      classList=""
      loading="lazy"
      image={product.images?.[0] || null}
      sizes="(min-width: 1280px) 200px, (min-width: 768px) 25vw, 50vw"
    />
  </div>
  <div class="">
    <p class="mt-1 text-xl">{product.name}</p>
    <p class="text-[22px]">
      <Money price={priceToMoney(product.price)} />
    </p>
  </div>
</a>
