---
import type { Products as MicroCMSProduct } from "../utils/microcms";
import { priceToMoney } from "../utils/schemas";

import GenericImage from "./GenericImage.svelte";
import Money from "./Money.svelte";

export interface Props {
  product: MicroCMSProduct;
  className?: string;
  noSeries?: boolean;
}
const { product, className, noSeries } = Astro.props as Props;
---

<a
  href={`/products/${product.slug || product.id}`}
  class={`${className}`}
>
  <div class="relative">
    {product.images?.[0] ? (
      <GenericImage
        classList=""
        loading="lazy"
        image={product.images[0]}
        sizes="(min-width: 1280px) 200px, (min-width: 768px) 25vw, 50vw"
      />
    ) : (
      <div class="bg-gray-200 aspect-square" />
    )}
  </div>
  <div class="">
    <p class="mt-1 text-xl">{product.name}</p>
    {product.price != null && (
      <p class="text-[22px]">
        <Money price={priceToMoney(product.price)} />
      </p>
    )}
  </div>
</a>
