---
import GenericImage from "./GenericImage.svelte";

export interface Props {
  images: { url: string; width: number; height: number; }[];
}
const { images } = Astro.props as Props;
---

<div class="">
  <div class="md:order-2 md:col-span-6">
    {images[0] && (
      <GenericImage
        classList="overflow-hidden rounded-lg h-full object-cover"
        loading="eager"
        image={images[0]}
        sizes="(min-width: 1540px) 475px, (min-width: 1280px) 389px, (min-width: 1040px) 304px, (min-width: 780px) 720px, (min-width: 680px) 592px, calc(94.44vw - 31px)"
      />
    )}
  </div>
  <div
    class:list={[
      "grid",
      "grid-cols-4",
      "gap-4",
      "md:order-1",
      "md:col-span-2",
      "md:flex",
      "md:flex-col",
      "md:gap-6",
      { "md:justify-between": images.length > 2 },
    ]}
  >
    {
      images.map((image, index) => {
        if (index < 3) {
          return (
            <div class="overflow-hidden rounded-lg">
              <GenericImage
                classList=""
                loading="lazy"
                image={image}
                sizes="(min-width: 1540px) 475px, (min-width: 1280px) 389px, 304px"
              />
            </div>
          );
        }
      })
    }
  </div>
</div>
